<!-- datePicker -->

<mat-form-field>
    <input matInput [matDatepicker]="picker1" placeholder="Angular forms" [formControl]="date">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
</mat-form-field>

<mat-form-field>
    <input matInput [matDatepicker]="picker2" placeholder="Angular forms (w/ deserialization)" [formControl]="serializedDate">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
</mat-form-field>

<mat-form-field>
    <input matInput [matDatepicker]="picker3" placeholder="Value binding" [value]="date.value">
    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
    <mat-datepicker #picker3></mat-datepicker>
</mat-form-field>


<!-- input email -->
<form class="example-form">
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Email" [formControl]="emailFormControl" [errorStateMatcher]="matcher">
        <mat-hint>Errors appear instantly!</mat-hint>
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
        </mat-error>
    </mat-form-field>
</form>

<br>
<br>
<!-- auto complete -->
<form class="example-form">
    <mat-form-field class="example-full-width">
        <input matInput placeholder="State" aria-label="State" [matAutocomplete]="auto" [formControl]="stateCtrl">
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
                <img class="example-option-img" aria-hidden [src]="state.flag" height="25">
                <span>{{state.name}}</span> |
                <small>Population: {{state.population}}</small>
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <br>

    <mat-slide-toggle [checked]="stateCtrl.disabled" (change)="stateCtrl.disabled ? stateCtrl.enable() : stateCtrl.disable()">
        Disable Input?
    </mat-slide-toggle>

    <br>
</form>
<br>

<!-- ckeckbox radioButton email -->
<mat-card>
    <mat-card-content>
        <h2 class="example-h2">Checkbox configuration</h2>

        <section class="example-section">
            <mat-checkbox class="example-margin" [(ngModel)]="checked">Checked</mat-checkbox>
            <mat-checkbox class="example-margin" [(ngModel)]="indeterminate">Indeterminate</mat-checkbox>
        </section>

        <section class="example-section">
            <label class="example-margin">Align:</label>
            <mat-radio-group [(ngModel)]="labelPosition">
                <mat-radio-button class="example-margin" value="after">After</mat-radio-button>
                <mat-radio-button class="example-margin" value="before">Before</mat-radio-button>
            </mat-radio-group>
        </section>

        <section class="example-section">
            <mat-checkbox class="example-margin" [(ngModel)]="disabled">Disabled</mat-checkbox>
        </section>
    </mat-card-content>
</mat-card>

<mat-card class="result">
    <mat-card-content>
        <h2 class="example-h2">Result</h2>

        <section class="example-section">
            <mat-checkbox class="example-margin" [(ngModel)]="checked" [(indeterminate)]="indeterminate" [labelPosition]="labelPosition" [disabled]="disabled">
                I'm a checkbox
            </mat-checkbox>
        </section>
    </mat-card-content>
</mat-card>