mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
    height: 100%;
}

mat-sidenav {
    width: 250px;
}

main {
    padding: 10px;
}

.mat-drawer-container {
    background-image: linear-gradient(to right, blue, rgb(0, 255, 255));
}